<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Fantasy Bestiary</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'custom', media: 'all' %> <!-- Custom CSS -->
  <%= javascript_importmap_tags %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class="container mt-4">
    <%= yield %>
  </div>
</body>
</html>
